.container {
    /* max-width: 800px; */
    margin: 0 auto;
    /* This will center the container horizontally */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    /* This will make sure all text elements are centered */
}

.title {
    color: #333;
    font-size: 2rem;
    margin-bottom: 20px;
}

.chart {
    margin: 0 auto;
    /* This will center the charts */
    margin-top: 30px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

/* Media query for responsiveness on smaller screens */
@media (max-width: 768px) {
    .container {
        max-width: 90%;
        /* Increase the container's width for smaller devices */
        padding: 10px;
        /* Reduce padding to make use of available space */
    }
}